.activity-label {
    color: white;
    font-size: 1.5em;
    text-align: left;
}

.blacklist-div {
    height: 20em;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    label{
        font-size: 80% !important;
    }

    .activity-label {
        font-size: 1.2em;
        text-align: center;
    }
}