.suggestion_description{
  color: white;
}

.contact_form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:850px){
   .contact_form{
        margin-top: -6em;
    }
}

@media screen and (max-width:600px){
    .contact_form{
        width: 100%;
    }

    .subject_text_field, .message_text_field {
        width: 100% !important;
    }
}

@media screen and (max-height:481px){
    .contact_form{
       margin-bottom: 5%;
    }
}

label{
    color: white;
    font-size: 1.2em;
}

.subject_text_field, .message_text_field{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#id_message .message_text_field{
    height: 4em;
}

.message_text_field{
    height: 15em;
}
input, label {
    display:block;
}