html{
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: -webkit-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: -o-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: -moz-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    overflow-y: auto;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.container{
    height: 100%;
    width: 100%;
}

.fun_genie_logo{
    margin-top: 10%;
    position: static;
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;
}

@media screen and (max-height: 700px){
    .btn_get_started{
        margin-bottom: 5% !important;
    }
}

@media screen and (max-width: 480px){
    .fun_genie_logo{
        margin-top: 5%;
    }

    .btn_get_started .btn_get_started_text{
        margin-bottom: 5% !important;
        font-size: 13px;
    }
}

.btn_get_started{
    background-color: #FE9C25 !important;
    color: white !important;
}

h1{
    color: white !important;
}

p{
    color: white;
}
