html{
    height: 95%;
}

body {
    height: 80%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: -webkit-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: -o-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: -moz-linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background: linear-gradient(rgb(211, 9, 9), rgb(24, 4, 4));
    background-attachment:fixed;
    background-repeat: no-repeat;
 }

.btn-warning{
    background-color: #FE9C25 !important;
}

@media screen and (max-width: 991px){
    .fun_genie_logo{
        display: none;
    }

    .container{
        width: 100% !important;
    }

    a {
        font-size: 95% !important;
    }

    .clip_icon {
        max-height: 35px;
    }
}

.fun_genie_logo {
    height: 100%
}

.fun_genie_logo img {
    margin-top: 5%;
    max-width: 200px;
    max-height: 200px;
}

.clip_icon {
    max-height: 45px;
    margin: 1em;
}

h1{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
    color:white;
}

h3{
    color:white;
}

.fun_genie_background{
    z-index: -1;
}

.container{
    height: 50%;
    width: 60%;
    margin-top: 10%;
    left: 50%;
}

.activity_buttons_container{
    margin-top: 4%;
    width: 80%;
    margin-left: 10%;
}

.preferences_title{
    height: 8em;
}

.button_settings{
    float: left;
}

.button_start_over{
    float: right;
}

.btn {
    margin-top: 5px !important;
}