.btn_home{
    background-color: #FE9C25 !important;
    color: white !important;
    margin-top: 5% !important;
}

.thankyou-title{
    color: white !important;
    font-size: 4em;
}

.thankyou-text{
    color: white !important;
    font-size: 2em;
}