{% extends "activities/base.html" %}

{% block title %}Fun Genie Activities{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/activities.css' %}">
<script src="{% static 'activities/javascripts/disable_buttons_when_no_ideas.js' %}"></script>
<script src="{% static 'activities/javascripts/disable_buttons_on_click.js' %}"></script>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="text-center">
  <div class="col-md-12">
    <div class="fun_genie_logo col-md-3">
      <img src="{% static 'activities/images/'|add:genie_image %}" alt="Fun Genie" align="right">
    </div>
    <div class="col-md-6">
      <div>
        <h1>Would this be fun?</h1>
        <br/>
        <h2 class="activity_title">{{ activity }}</h2>
      </div>
      <div>
        {% if url %}
        <a href="{{url}}", target="_blank"><img src="{% static 'activities/images/link_icon.png' %}", class="clip_icon"></a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="activity_buttons_container">
      <a class="btn btn-warning btn-lg" id="yes_button" href= "{% url 'vote' activity 1 %}">Yes</a>
      <a class="btn btn-warning btn-lg" id="not_now_button" href= "{% url 'vote' activity -1 %}">Not now</a>
      <a class="btn btn-danger btn-lg" id="never_button" href= "{% url 'vote' activity -2 %}">Never</a>
    </div>
    <div class="activity_buttons_container">
      <div class="col-md-12">
        <div class="col-md-6">
          <a href="{% url 'preferences' %}" class="settings_button">
            <img src="{% static 'activities/images/gear_icon.png' %}"  title="Preferences" alt="Preferences" align="left">
          </a>
        </div>
        <div class="col-md-6">
          <a href="{% url 'reset' %}" alt="Start Over" title="Start Over" class="btn btn-lg btn-info btn-warning button_start_over">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </div>
      </div>
      <div class="fb-share-button" data-href="http://fungenie-staging.herokuapp.com" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
