<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Fun Genie" />
    <meta property="og:description" content="Bored? Looking for something fun to do? Ask Fun Genie!" />
    <meta property="og:image" content="https://fungenie-staging.herokuapp.com/static/activities/images/lamp_icon.png" />

    <title>{% block title %} Fun Genie {% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'activities/images/lamp_icon.ico' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/shared.css' %}">

    <script type="text/javascript" src="{% static 'activities/javascripts/cookie.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/jquery.cookiebar.css' %}" />
    <script type="text/javascript" src="{% static 'activities/javascripts/jquery.cookiebar.js' %}"></script>

    <script src="{% static 'activities/javascripts/mixpanel.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
