{% extends "activities/base.html" %}

{% block title %}Good bye!{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/thankyou.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/no_activities.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="no-activities-title">Good bye!</h1>
  <div class="genie-image-container">
    <img src="{% static 'activities/images/results_genie.png' %}" class="genie-image"/>
  </div>
</div>
{% endblock %}
