{% extends "activities/base.html" %}

{% block title %}Contact Us{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/contact.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
  <div class="col-md-12">
    <div class="fun_genie_logo col-md-3">
      <img src="{% static 'activities/images/results_genie.png' %}" alt="Fun Genie" align="right">
    </div>
    <div class="col-md-6">
      <div>
        <h1>Contact Fun Genie</h1>
        <p class="suggestion_description">Please suggest a new activity or other suggestion for Fun Genie! Thanks!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <form action="/contact/" method="post" class="contact_form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-lg btn-success" value="Submit"/>
      </form>
    </div>
  </div>
  <div class="activity_buttons_container">
    <div class="col-md-12">
      <div class="col-md-6">
        <a href="{% url 'preferences' %}" class="btn btn-info btn-warning button_settings">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
