<!DOCTYPE html>
<html>
<head>
  <title>Fun Genie</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'images/lamp_icon.png' %}" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="{% static 'images/lamp_icon.ico' %}" >
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/lamp_icon.ico' %}"/>
</head>
<body>
  <div class="container text-center">
    <img src="{% static 'images/run_out_of_ideas_genie.png' %}" class="fun_genie_logo" alt="Fun Genie">
    <h1>Oh no!</h1>
    <br>
    <h2>Something went wrong!</h2>
    <br>
    <a class="btn btn-default btn-lg btn_get_started" href="{% url 'fun-genie.views.home' %}">Take me back to home page</a>
  </div>
</body>
</html>
