{% extends "activities/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/home.css' %}">
<script src="{% static 'activities/javascripts/mixpanel.js' %}"></script>
<script src="{% static 'activities/javascripts/mixpanel/track_visit.js' %}"></script>
<script src="{% static 'activities/javascripts/geolocation.js' %}"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
  mixpanel.track("Page Loaded", {"Page Name": "Home page"});
</script>
<div class="container text-center">
  <img src="{% static 'activities/images/results_genie.png' %}" class="fun_genie_logo" alt="Fun Genie">
  <h1>Welcome!</h1>
  <br>
  <p class="fun_genie_description">Bored? Looking for something fun to do? Ask Fun Genie!
    As you respond to his suggestions, he quickly learns what you like.</p>
  <p class="fun_genie_description">His suggestions can use your local weather and if it's day or night.
    Click the gear button on the next page to set preferences.</p>
  <p class="fun_genie_description">To help you learn new ways to have fun,
    most suggestions contain links to web pages, maps, or videos.</p>
  <p class="fun_genie_description">Fun Genie has hundreds of activity suggestions for all ages and interests!
    Go stargazing, play Frisbee Golf, learn embroidery, build a Lego city, read book reviews,
    sell unwanted stuff online, and much more!</p>
  <br>
  <a class="btn btn-default btn-lg btn_get_started" href="{% url 'init_timezone' %}">
    <span class="btn_get_started_text">I understand! Do not show this page again.</span>
  </a>
</div>
{% endblock %}
