<!DOCTYPE html>
<html>
<head>
  <title>Fun Genie</title>
  {% load static from staticfiles %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/home.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'activities/javascripts/lib/jstz.min.js' %}"></script>
  <script src="{% static 'activities/javascripts/activities.js' %}"></script>
</head>
<body>
</body>
</html>
