{% extends "activities/base.html" %}

{% block title %}Fun Genie Never List{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/blacklist.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
  <div class="container">
    <div class="activity_buttons_container">
      <div class="col-md-12">
        <div class="col-md-6">
          <a href="{% url 'preferences' %}" class="btn btn-info btn-warning button_settings">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="fun_genie_logo col-md-3">
      <img src="{% static 'activities/images/run_out_of_ideas_genie.png' %}" alt="Fun Genie" align="right">
    </div>
    <div class="col-md-6">
      <div>
        <h1>{{title}}</h1>
      </div>
      <div class="blacklist-div">
        {% for activity in neverlist %}
        <div  class="col-md-12">
          <div class="col-md-10 activity-label"><label>{{activity}}</label></div>
          <div class="col-md-2">
            <form action="{% url 'neverlist_delete' %}" method="post" accept-charset="utf-8">
              <input type="hidden" name="index" value="{{ forloop.counter0 }}">
              <button type="submit" class="btn btn-lg btn-danger">Delete</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
