{% extends "activities/base.html" %}

{% block title %}No more suggestions{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/thankyou.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/no_activities.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="no-activities-title">No more suggestions</h1>
  <p class="thankyou-text">Genie ran out of ideas.</p>
  <div class="genie-image-container">
    <img src="{% static 'activities/images/run_out_of_ideas_genie.png' %}" class="genie-image"/>
  </div>

  <p class="thankyou-text">Do you want to start again? (your Never votes will be kept)</p>
  <a class="btn btn-success no-activities_choice" href= "{% url 'reset_votes' %}">
    <span class="btn_get_started_text">Yes</span>
  </a>
  <a class="btn btn-danger no-activities_choice" href="{% url 'bye' %}">
    <span class="btn_get_started_text">No</span>
  </a>
</div>
{% endblock %}
