{% extends "activities/base.html" %}

{% block title %}Fun Genie Preferences{% endblock %}

{% load static %}
{% block head %}
<script src="{% static 'activities/javascripts/preferences.js' %}"></script>
{% endblock %}

{% block content %}
<div class="text-center">
  <div class="col-md-12 preferences_title">
    <div class="fun_genie_logo col-md-3">
      <img src="{% static 'activities/images/run_out_of_ideas_genie.png' %}" alt="Fun Genie" align="right">
    </div>
    <div class="col-md-6">
      <div>
        <h1>Preferences</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="activity_buttons_container">
      <a class="btn btn-warning btn-lg" href= "{% url 'neverlist' %}">Edit your list of "Never" activities</a>
      <br>
      <a class="btn btn-danger btn-lg" href= "{% url 'contact' %}">Contact</a>
    </div>
    <div class="activity_buttons_container">
      <div class="col-md-12">
        <div class="col-md-6">
          <a href="{% url 'activities_root' %}" class="btn btn-info btn-warning button_settings">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
