<!DOCTYPE html>
<html>
<head>
  <title>FunGenie Preferences</title>
  {% load static from staticfiles %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/shared.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/suggest_activity.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="text-center">
    <div class="col-md-12">
      <div class="fun_genie_logo col-md-3">
        <img src="{% static 'images/run_out_of_ideas_genie.png' %}" alt="Fun Genie" align="right">
      </div>
      <div class="col-md-6">
        <div>
          <h1>Contact FunGenie</h1>
          <p>Please suggest a new activity or other suggestion for Fun Genie! Thanks!</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <form method="post">
          <fieldset class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
          </fieldset>
          <fieldset class="form-group">
            <label for="body">Description</label>
            <textarea class="form-control" id="body" name="body"></textarea>
          </fieldset>
          <a onclick="parentNode.submit()", class="btn btn-lg btn-success" method="post" href="{% url 'fun-genie.views.send_email' %}">Submit</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
