{% extends "activities/base.html" %}

{% block title %}Contact Us - Thank You{% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'activities/stylesheets/thankyou.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="thankyou-title">Thank you.</h1>
  <p class="thankyou-text">Your email was sent and I will get back to you as soon as I can.</p>

  <a class="btn btn-default btn-lg btn_home" href="/">
    <span class="btn_get_started_text">Get Me Back to Home</span>
  </a>
</div>
{% endblock %}
